server {
  listen 80;
  server_name {{ domain }};
  root /var/www/{{ domain }};
  index index.php;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {
    try_files $fastcgi_script_name =404;
    include fastcgi_params;
    fastcgi_pass unix:/run/php/php{{ php_ver }}-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param DOCUMENT_ROOT $realpath_root;
    fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
  }

  access_log /var/log/nginx/{{ domain }}_access.log;
  error_log /var/log/nginx/{{ domain }}_error.log;
}